@media screen and (min-width:700px){

  #lines{
    display: block;
  }

    body h1{
      text-align: right;
    }
}

@media screen and (max-width:701px){
  #lines{
    display: none;
  }

}

body{
  font-family: futura-pt, sans-serif;
  font-size: 22px;
  background-color: #FFDCCD;
  color: black;
}



a{
  color: black;
}

#Info h1{
  color:black;
  font-family: futura-pt, sans-serif;
  text-align: center;
  font-weight: 400;

  font-style: normal;
}

#aboutMe{
  border: solid white 0px;
  padding: 150px;
  margin: 80px;
  position: absolute;
}

#cat{
  position: fixed;
  width: 100px;
  left: 0px;
  bottom: 0px;
}

#lines{
  width: 1700px;
  /* margin: 100px; */
  /* padding: -50px; */
  height: 800px;

}

#topPage{
  right: 50px;
  bottom: -280px;
  position: absolute;
}
li{
    display: inline


  }
#navBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80%;
  height: 90%;
  text-align: center;
  position: fixed;
  overflow: auto;

  float: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#navBar > li{
  padding-left:20px;
  padding-right:20px;
}

#navBar a{
  text-decoration: none;
}

#navBar a:hover{
  transition-duration: 0.9s;

  font-size: 120%;
  color: #FFB08E;

}
