.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

body{
  box-sizing: border-box;
  background-color: #C5E6E4;
  font-family: futura-pt;

  display: grid;
  justify-content: center;
  align-items: center;
  height: 80vh;

}

body h1{
  text-align: center;
}

body h4{
  text-align: center;
}


#PLAYER1FORM{
  text-align: center;
}

#PLAYER2FORM{
  text-align: center;
}

#THEBUTTONS{
  text-align: center;

}

/* Resource to help with button styling: https://cssbuttons.app/buttons/36 */
#buttonOne{
  padding: 0.7rem 2rem;
  font-family: futura-pt;
  font-weight: 700;
  font-size: 18px;
  color: #68AAAC;
  background-color: #F3FFFF;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}

#buttonOne{
  border-color: white;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

#buttonOne:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}


#buttonTwo{
  padding: 0.7rem 2rem;
  font-family: futura-pt;
  font-weight: 700;
  font-size: 18px;
  color: #68AAAC;
  background-color: #F3FFFF;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}

#buttonTwo{
  border-color: white;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

#buttonTwo:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.board{
  color:white;
  text-shadow: 2px 2px 4px #68AAAC;
  font-size: 80px;
  text-align: center;
}




input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F3FFFF;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

*, *:before, *:after{
  box-sizing: inherit;
}

.board{
  display: grid;
  grid-template-columns: repeat(3,auto);

}
.square{
  width: 100px;
  height: 100px;
  border: 1px solid #88C4C0;
}

.square:hover {
  background-color: #4AAFA8;
}

.square .outline {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.square .foreground {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.square:nth-of-type(1),
.square:nth-of-type(2),
.square:nth-of-type(3) {
  border-top: none;
}

.square:nth-of-type(1),
.square:nth-of-type(4),
.square:nth-of-type(7) {
  border-left: none;
}

.square:nth-of-type(3),
.square:nth-of-type(6),
.square:nth-of-type(9) {
  border-right: none;
}

.square:nth-of-type(7),
.square:nth-of-type(8),
.square:nth-of-type(9) {
  border-bottom: none;
}
